/*Varaiables*/
:root {
  --blue: #0366d6;
  --white: #ffffff;
  --orange: #f9826c;
  --black: #24292e;
  --grey: #fafbfc;
  --border: #d1d5da;
  --text: #586069;
  --white-50: #e6e8eb;
  --regular: 400;
  --medium: 500;
  --bold: 700;
}

/*Reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--orange);
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
body {
  font-family: 'Poppins', sans-serif;
  height: 100%;
  margin: 0;
}

/*fix Styles*/

.content {
  min-height: 100%;
}

.container {
  padding: 0rem 17rem 0rem 17rem;
}

.line {
  padding-top: 3rem;
  padding-bottom: 2rem;
  border-bottom: 3px solid var(--border);
}

.line:last-child {
  border: 0;
}

.heading {
  font-size: 6rem;
  color: var(--blue);
}

.text {
	margin: 10px 0 0;
  font-size: 2.2rem;
  color: var(--text);
}
.text:first-of-type {
	margin: 0;
}

/*Styling*/

.header {
  max-height: 25rem;
  background-color: var(--grey);
  border-bottom: 4px solid var(--border);
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.logo {
  width: 15rem;
  margin: 1rem 3rem 1rem 0;
	text-align: center;
}
.logo img {
	max-width: 100%;
}
.nav {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 6rem;
  font-weight: var(--medium);
}

.items {
  display: flex;
	position: absolute;
	bottom: -4px;
}

.item {
  text-decoration: none !important;
  font-size: 4rem;
  margin-right: 6rem;
  padding: 1rem;
  font-weight: var(--medium);
  color: var(--black);
	border-bottom: 4px solid transparent;
}
.item:last-child {
	margin-right: 0 !important;
}
.item:hover {
  border-bottom: 4px solid var(--orange);
}

.heading i {
  display: none;
}

.vision > p.text {
	max-width: 1200px;
}

.faq .faq-item {
	margin: 10px 0 0;
	max-width: 560px;
}
.faq .faq-item:first-child {
	margin: 0;
}
.faq .faq-answer {
	font-size: 14px;
	padding: 10px;
	margin: 5px 0 0;
	background-color: var(--grey);
}
.faq .btn-wrap {
	margin: 10px 0 0;
}
.faq .btn-apply {
	background: var(--blue);
	color: #fff;
	position: relative;
	display: inline-block;
	padding: 5px 16px;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	white-space: nowrap;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid;
	border-radius: 6px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-decoration: none !important;
}

.case-studies > .text > li {
	margin: 20px 0 0;
}
.case-studies > p.text {
	margin: 10px 0 20px;
	max-width: 1200px;
}
.case-studies > .text > li:first-child {
	margin: 0;
}
.case-studies .item-video {
	margin: 10px 0 0;
}

@media (max-width: 1099px) {
	.case-studies .item-video {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		height: 0;
	}
	.case-studies .item-video iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.case-studies .item-right-s {
	padding: 20px;
	font-size: 16px;
}
.case-studies .item-description {
}
.case-studies blockquote {
	margin: 10px 0 0;
	padding: 15px 20px;
	background-color:var(--grey);
	font-style: italic;
}
.case-studies blockquote p {
	font-style: normal;
	margin: 5px 0 0;
	text-align: right;
}

.sponsor-message {
	padding: 35px;
	font-size: 2rem;
	text-align: center;
	margin: 25px 0 0;
	background: #e7e8e9;
}
.sponsor-message > p {
	margin: auto;
	max-width: 1200px;
}

.footer {
	position: relative;
  padding: 3rem;
  background-color: var(--black);
  color: white;
  text-align: center;
}

.footer .socials-list {
	display: flex;
	justify-content: center;
}
.footer .sl-item {
	padding: 0 7px;
}
.footer .sl-link {
	font-size: 0;
}
.footer .sl-icon {
	font-size: 28px;
	color: #fff;
}
.footer .sl-icon:hover {
	color: #eee;
}

.footer .copyright {
  font-size: 2rem;
  color: var(--white);
  font-weight: var(--regular);
}

.footer .info {
  font-size: 2rem;
  color: var(--white);
  margin-top: 5px;
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
  html {
    font-size: 6px;
  }
  .heading {
    font-size: 5rem;
  }
  .heading i {
    display: inline;
    margin-right: 1.5rem;
  }
  .item a {
    text-decoration: none;
  }
  .container {
    padding: 0rem 3rem 0rem 3rem;
  }

  .title {
    font-size: 3.6rem;
  }
  .text {
    font-size: 2.5rem;
  }
}

@media (max-width: 860px) {
  .items {
    display: none !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
  html {
    font-size: 6px;
  }
  .items {
    display: flex;
  }
  .container {
    padding: 0rem 3rem 0rem 3rem;
  }
  .title {
    font-size: 5rem;
  }
  .text {
    font-size: 2.5rem;
  }

  .item {
    font-weight: var(--medium);
    font-size: 2rem;
    margin-right: 3rem;
    padding: 1rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
  html {
    font-size: 7px;
  }

	.case-studies .item-title {
		font-size: 24px;
	}

  .footer {
    overflow: hidden;
  }

	.footer .socials-list {
		position: absolute;
		display: flex;
		top: 18px;
		left: 0;
		right: 0;
	}

  .footer .copyright {
    float: right;
  }

  .footer .info {
    float: left;
    margin-top: 0;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  html {
    font-size: 8px;
  }
	.footer .socials-list {
		top: 24px;
	}	
}

@media (min-width: 1100px) {
	.case-studies .text > li {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
	}

  .case-studies .item-right-s {
		margin: 0;
		max-width: 620px;
		background: none;
		padding: 0 0 0 40px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
  html {
    font-size: 10px;
  }
  .items {
    top: 77%;
  }
  .heading {
    font-size: 5rem;
  }

  .text {
    font-size: 2rem;
  }

	.footer .socials-list {
		top: 32px;
	}
}
